footer{
    display: block;
    width: 100%;
    background-color: black;
}
.footer-logo{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.footer-logo h2{
    position: relative;
    margin-top: -22px;
}
.footer-logo img{
    width: 33px;
}